In [6]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
from collections import Counter

In [7]:
data = pd.read_csv('movie_bd_v5.csv')
data.sample(5)

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year
299,tt1139668,16000000,76514050,The Unborn,Odette Annable|Gary Oldman|Meagan Good|Cam Gig...,David S. Goyer,Evil will do anything to live.,A young woman fights the spirit that is slowly...,87,Horror|Thriller|Mystery,Rogue Pictures|Phantom Four|Platinum Dunes|Rel...,1/9/2009,4.9,2009
1158,tt0329028,19000000,39267515,Dumb and Dumberer: When Harry Met Lloyd,Mimi Rogers|Eric Christian Olsen|Luis GuzmÃ¡n|...,Troy Miller,The evolution of dumb...,This wacky prequel to the 1994 blockbuster goe...,85,Comedy,New Line Cinema,6/13/2003,4.2,2003
1202,tt1979320,38000000,90247624,Rush,Daniel BrÃ¼hl|Chris Hemsworth|Olivia Wilde|Ale...,Ron Howard,Everyone's driven by something.,A biographical drama centered on the rivalry b...,123,Drama|Action,Revolution Films|Working Title Films|Cross Cre...,9/2/2013,7.7,2013
231,tt1929263,12000000,101332962,Heaven is for Real,Greg Kinnear|Kelly Reilly|Connor Corum|Thomas ...,Randall Wallace,Unlock the mystery,Heaven is for Real recounts the true story of ...,99,Drama,TriStar Pictures|Screen Gems|Roth Films,4/16/2014,6.1,2014
1025,tt1586265,40000000,79700000,What to Expect When You're Expecting,Cameron Diaz|Jennifer Lopez|Elizabeth Banks|An...,Kirk Jones,It's too late to pull out now.,Challenges of impending parenthood turn the li...,110,Romance|Comedy|Drama,Alcon Entertainment|Lionsgate|Phoenix Pictures...,5/17/2012,5.7,2012

In [8]:
data.describe()

             budget       revenue      runtime  vote_average  release_year
count  1.889000e+03  1.889000e+03  1889.000000   1889.000000   1889.000000
mean   5.431083e+07  1.553653e+08   109.658549      6.140762   2007.860773
std    4.858721e+07  2.146698e+08    18.017041      0.764763      4.468841
min    5.000000e+06  2.033165e+06    63.000000      3.300000   2000.000000
25%    2.000000e+07  3.456058e+07    97.000000      5.600000   2004.000000
50%    3.800000e+07  8.361541e+07   107.000000      6.100000   2008.000000
75%    7.200000e+07  1.782626e+08   120.000000      6.600000   2012.000000
max    3.800000e+08  2.781506e+09   214.000000      8.100000   2015.000000

# Предобработка

In [29]:
answers = {} # создадим словарь для ответов

data['profit'] = data['revenue'] - data['budget'] #прописываем код для колонки profit

#the time given in the dataset is in string format.
#So we need to change this in datetime format
# ...

# 1. У какого фильма из списка самый большой бюджет?

Использовать варианты ответов в коде решения запрещено.    
Вы думаете и в жизни у вас будут варианты ответов?)

In [9]:
# в словарь вставляем номер вопроса и ваш ответ на него
answers = {}    
answers['1'] = 'Pirates of the Caribbean: On Stranger Tides (tt1298650)' # "+"
answers['2'] = 'Gods and Generals (tt0279111)' # "+"
answers['3'] = 'Winnie the Pooh (tt1449283)' # "+"
answers['4'] = '110' # "+"
answers['5'] = '107' # "+"
answers['6'] = 'Avatar (tt0499549)' # "+"
answers['7'] = 'The Lone Ranger (tt1210819)' # "+"
answers['8'] = '1478' # "+"
answers['9'] = 'The Dark Knight (tt0468569)' # "+"
answers['10'] = 'The Lone Ranger (tt1210819)' # "+"
answers['11'] = 'Drama' # "+"
answers['12'] = 'Drama' # "+"
answers['13'] = 'Peter Jackson' # "+"
answers['14'] = 'Robert Rodriguez' # "+"
answers['15'] = 'Chris Hemsworth' # "+"
answers['16'] = 'Matt Damon' # "+"
answers['17'] = 'Action' # "+"
answers['18'] = 'K-19: The Widowmaker (tt0267626)' # "+"
answers['19'] = '2005' # "+"
answers['20'] = '2014' # "+"
answers['21'] = 'Сентябрь' # "+"
answers['22'] = '450' # "+"
answers['23'] = 'Peter Jackson' # "+"
answers['24'] = 'Four By Two Productions' # "+"
answers['25'] = 'Midnight Picture Show' # "+"
answers['26'] = 'Inside Out, The Dark Knight, 12 Years a Slave' # "+"
answers ['27'] = 'Daniel Radcliffe & Rupert Grint' # "+"

# если ответили верно, можете добавить комментарий со значком "+"

{'1': 'Pirates of the Caribbean: On Stranger Tides (tt1298650)', '2': 'Gods and Generals (tt0279111)', '3': 'Winnie the Pooh (tt1449283)', '4': '110', '5': '107', '6': 'Avatar (tt0499549)', '7': 'The Lone Ranger (tt1210819)', '8': '1478', '9': 'The Dark Knight (tt0468569)', '10': 'The Lone Ranger (tt1210819)', '11': 'Drama', '12': 'Drama', '13': 'Peter Jackson', '14': 'Robert Rodriguez', '15': 'Chris Hemsworth', '16': 'Matt Damon', '17': 'Action', '18': 'K-19: The Widowmaker (tt0267626)', '19': '2005', '20': '2014', '21': 'Сентябрь', '22': '450', '23': 'Peter Jackson', '24': 'Four By Two Productions', '25': 'Midnight Picture Show', '26': 'Inside Out, The Dark Knight, 12 Years a Slave', '27': 'Daniel Radcliffe & Rupert Grint'}

In [31]:
data[data['budget'] == data['budget'].max()].original_title.iloc[0]

'Pirates of the Caribbean: On Stranger Tides'

ВАРИАНТ 2

In [32]:
# можно добавлять разные варианты решения

# 2. Какой из фильмов самый длительный (в минутах)?

In [33]:
data[data['runtime'] == data['runtime'].max()].original_title.iloc[0]

'Gods and Generals'

# 3. Какой из фильмов самый короткий (в минутах)?

In [34]:
data[data['runtime'] == data['runtime'].min()].original_title.iloc[0]

'Winnie the Pooh'

# 4. Какова средняя длительность фильмов?

In [35]:
round(data['runtime'].mean())

110

# 5. Каково медианное значение длительности фильмов?

In [36]:
data['runtime'].median()

107.0

# 6. Какой самый прибыльный фильм?
#### Внимание! Здесь и далее под «прибылью» или «убытками» понимается разность между сборами и бюджетом фильма. (прибыль = сборы - бюджет) в нашем датасете это будет (profit = revenue - budget)

In [37]:
# лучше код получения столбца profit вынести в Предобработку что в начале
data[data['profit'] == data['profit'].max()].original_title.iloc[0]

'Avatar'

# 7. Какой фильм самый убыточный?

In [38]:
data[data['profit'] == data['profit'].min()].original_title.iloc[0]

'The Lone Ranger'

# 8. У скольких фильмов из датасета объем сборов оказался выше бюджета?

In [39]:
len(data[data['profit'] > 0])

1478

# 9. Какой фильм оказался самым кассовым в 2008 году?

In [40]:
data.loc[data['release_year'] == 2008].sort_values(by='profit', ascending=False)

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit
599,tt0468569,185000000,1001921825,The Dark Knight,Christian Bale|Michael Caine|Heath Ledger|Aaro...,Christopher Nolan,Why So Serious?,Batman raises the stakes in his war on crime. ...,152,Drama|Action|Crime|Thriller,"[DC Comics, Legendary Pictures, Warner Bros., ...",7/16/2008,8.1,2008,816921825
603,tt0367882,185000000,786636033,Indiana Jones and the Kingdom of the Crystal S...,Harrison Ford|Cate Blanchett|Shia LaBeouf|Ray ...,Steven Spielberg,The adventure continues . . .,"Set during the Cold War, the Soviets â€“ led b...",122,Adventure|Action,"[Lucasfilm, Paramount Pictures]",5/21/2008,5.6,2008,601636033
607,tt0795421,52000000,609841637,Mamma Mia!,Meryl Streep|Pierce Brosnan|Amanda Seyfried|Co...,Phyllida Lloyd,Take a trip down the aisle you'll never forget,"Set on an idyllic Greek island, the plot serve...",108,Comedy|Romance,"[Universal Pictures, Internationale Filmproduk...",6/30/2008,6.2,2008,557841637
606,tt0441773,130000000,631744560,Kung Fu Panda,Jack Black|Dustin Hoffman|Angelina Jolie|Jacki...,Mark Osborne|John Stevenson,Prepare for awesomeness.,"When the Valley of Peace is threatened, lazy P...",90,Animation|Family,[DreamWorks Animation],6/4/2008,6.8,2008,501744560
621,tt0448157,150000000,624029371,Hancock,Will Smith|Charlize Theron|Jason Bateman|Jae H...,Peter Berg,Bad Behavior. Bad Attitude. Real Hero.,Hancock is a down-and-out superhero who's forc...,92,Fantasy|Action,"[Columbia Pictures, Weed Road Pictures, Forwar...",7/1/2008,6.0,2008,474029371
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
668,tt0811080,120000000,93945766,Speed Racer,Emile Hirsch|Christina Ricci|Matthew Fox|Susan...,Lana Wachowski|Lilly Wachowski,Go!,Speed Racer is the tale of a young and brillia...,135,Family|Action|Science Fiction,"[Village Roadshow Pictures, Studio Babelsberg,...",5/9/2008,5.6,2008,-26054234
705,tt0469903,40000000,9793496,The Express,Rob Brown|Dennis Quaid|Darrin Henson|Charles S...,Gary Fleder,He changed our country... one yard at a time.,"Based on the incredible true story, The Expres...",130,Drama,"[Davis Entertainment, Relativity Media, IDEA F...",10/10/2008,7.1,2008,-30206504
682,tt0970411,55000000,17869048,City of Ember,Saoirse Ronan|Harry Treadaway|Mary Kay Place|B...,Gil Kenan,Escape is the only option,"For generations, the people of the City of Emb...",90,Adventure|Family|Fantasy,"[Playtone, Walden Media]",10/7/2008,6.1,2008,-37130952
679,tt0462465,50000000,7033683,Outlander,Jim Caviezel|Sophia Myles|Jack Huston|Ron Perl...,Howard McCain,It destroyed his world. He won't let it destro...,"During the reign of the Vikings, a man from an...",115,Fantasy|Action|Science Fiction,"[Ascendant Pictures, Rising Star, VIP Medienfo...",4/24/2008,6.0,2008,-42966317
636,tt0455824,130000000,49554002,Australia,Nicole Kidman|Hugh Jackman|Essie Davis|David W...,Baz Luhrmann,Welcome to Australia!,"Set in northern Australia before World War II,...",165,Drama,"[Bazmark Films, Ingenious Film Partners, Twent...",11/18/2008,6.3,2008,-80445998

In [41]:
# альтернативное решение
data = pd.read_csv('movie_bd_v5.csv')
data[data.revenue == data[data.release_year == 2008].revenue.max()].original_title.iloc[0]

'The Dark Knight'

# 10. Самый убыточный фильм за период с 2012 по 2014 г. (включительно)?

In [6]:
import pandas as pd
data = pd.read_csv('movie_bd_v5.csv')
data['profit'] = data['revenue'] - data['budget']
data.loc[(data['release_year']<= 2014)&(data['release_year']>=2012)].sort_values(by='profit')

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit
1245,tt1210819,255000000,89289910,The Lone Ranger,Johnny Depp|Armie Hammer|William Fichtner|Hele...,Gore Verbinski,Never Take Off the Mask,The Texas Rangers chase down a gang of outlaws...,149,Action|Adventure|Western,Walt Disney Pictures|Jerry Bruckheimer Films|I...,7/3/2013,6.0,2013,-165710090
1214,tt0790736,130000000,61648500,R.I.P.D.,Jeff Bridges|Ryan Reynolds|Kevin Bacon|Stephan...,Robert Schwentke,To protect and serve the living,A recently slain cop joins a team of undead po...,96,Fantasy|Action|Comedy|Crime,Universal Pictures|Original Film|Dark Horse En...,7/18/2013,5.3,2013,-68351500
1007,tt1374992,60000000,8106475,Upside Down,Kirsten Dunst|Jim Sturgess|Timothy Spall|James...,Juan Diego Solanas,Two worlds. One future.,In an alternate universe where twinned worlds ...,104,Romance|Science Fiction|Drama|Fantasy,Onyx Films|Studio 37|Jouror Productions|France...,9/27/2012,6.1,2012,-51893525
1302,tt0884726,70000000,18662027,Legends of Oz: Dorothy's Return,Lea Michele|Dan Aykroyd|Patrick Stewart|Hugh D...,Dan St. Pierre,There's trouble in OZ...,"Dorothy wakes up in post-tornado Kansas, only ...",88,Animation|Music|Family,Prana Animation Studios|Summertime Entertainment,6/13/2013,6.1,2013,-51337973
1235,tt1308729,55000000,9489829,Bullet to the Head,Sylvester Stallone|Sung Kang|Sarah Shahi|Adewa...,Walter Hill,Revenge Never Gets Old.,"After watching their respective partners die, ...",92,Action|Crime|Thriller,Dark Castle Entertainment|After Dark Films|IM ...,1/31/2013,5.2,2013,-45510171
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1189,tt1690953,76000000,970761885,Despicable Me 2,Steve Carell|Kristen Wiig|Benjamin Bratt|Miran...,Pierre Coffin|Chris Renaud,Back 2 Work,Gru is recruited by the Anti-Villain League to...,98,Animation|Comedy|Family,Universal Pictures|Illumination Entertainment,6/25/2013,7.0,2013,894761885
974,tt1074638,200000000,1108561013,Skyfall,Daniel Craig|Judi Dench|Javier Bardem|Ralph Fi...,Sam Mendes,Think on your sins.,When Bond's latest assignment goes gravely wro...,143,Action|Adventure|Thriller,Columbia Pictures,10/25/2012,6.8,2012,908561013
1180,tt1300854,200000000,1215439994,Iron Man 3,Robert Downey Jr.|Gwyneth Paltrow|Guy Pearce|D...,Shane Black,Unleash the power behind the armor.,When Tony Stark's world is torn apart by a for...,130,Action|Adventure|Science Fiction,Marvel Studios,4/18/2013,6.9,2013,1015439994
1177,tt2294629,150000000,1274219009,Frozen,Kristen Bell|Idina Menzel|Jonathan Groff|Josh ...,Chris Buck|Jennifer Lee,Only the act of true love will thaw a frozen h...,Young princess Anna of Arendelle dreams about ...,102,Animation|Adventure|Family,Walt Disney Pictures|Walt Disney Animation Stu...,11/27/2013,7.5,2013,1124219009
970,tt0848228,220000000,1519557910,The Avengers,Robert Downey Jr.|Chris Evans|Mark Ruffalo|Chr...,Joss Whedon,Some assembly required.,When an unexpected enemy emerges and threatens...,143,Science Fiction|Action|Adventure,Marvel Studios,4/25/2012,7.3,2012,1299557910

# 11. Какого жанра фильмов больше всего?

In [43]:
# эту задачу тоже можно решать разными подходами, попробуй реализовать разные варианты
# если будешь добавлять функцию - выноси ее в предобработку что в начале
pd.Series(data['genres'].str.cat(sep='|').split('|')).value_counts()

Drama              782
Comedy             683
Thriller           596
Action             582
Adventure          415
Crime              315
Romance            308
Family             260
Science Fiction    248
Fantasy            222
Horror             176
Mystery            168
Animation          139
Music               64
History             62
War                 58
Western             19
Documentary          8
Foreign              2
dtype: int64

ВАРИАНТ 2

# 12. Фильмы какого жанра чаще всего становятся прибыльными?

In [44]:
data = pd.read_csv('movie_bd_v5.csv')
data['genres'] = data['genres'].apply(lambda x:x.split('|'))
data['profit'] = data['revenue'] - data['budget']
data_new = data.explode('genres')
data_profit = data_new[data_new.profit > 0]
group_genres = data_profit['genres'].value_counts()
display(group_genres)

Drama              560
Comedy             551
Thriller           446
Action             444
Adventure          337
Romance            242
Crime              231
Family             226
Science Fiction    195
Fantasy            188
Horror             150
Animation          120
Mystery            119
Music               47
History             46
War                 41
Western             12
Documentary          7
Name: genres, dtype: int64

# 13. У какого режиссера самые большие суммарные кассовые сборы?

In [45]:
import pandas as pd
data = pd.read_csv('movie_bd_v5.csv')
data['director'] = data.director.apply(lambda x:x.split('|'))
data_new = data.explode('director')
data_new.groupby('director').revenue.sum().sort_values(ascending=False)

director
Peter Jackson        6490593685
Christopher Nolan    4167548502
David Yates          4154295625
Michael Bay          3886938960
J.J. Abrams          3579169916
                        ...
David MichÃ´d           2295423
Steven Shainberg        2281089
Paul Schrader           2062066
Keanu Reeves            2054941
Simon Hunter            2033165
Name: revenue, Length: 997, dtype: int64

# 14. Какой режисер снял больше всего фильмов в стиле Action?

In [8]:
import pandas as pd
from collections import Counter
data = pd.read_csv('movie_bd_v5.csv')
action = data[data.genres.str.contains('Action')]
director_list = action['director'].str.cat(sep='|').split('|')
director_list
Counter(director_list).most_common(5)

[('Robert Rodriguez', 9),
 ('Michael Bay', 7),
 ('Paul W.S. Anderson', 7),
 ('Antoine Fuqua', 6),
 ('Ridley Scott', 6)]

# 15. Фильмы с каким актером принесли самые высокие кассовые сборы в 2012 году?

In [47]:
import pandas as pd
data = pd.read_csv('movie_bd_v5.csv')
data1 = data[data.release_year == 2012]
data1['cast'] = data1.cast.apply(lambda x:x.split('|'))
data2 = data1.explode('cast')
data2.groupby('cast').revenue.sum().sort_values(ascending=False)

#непонятно сообщение на розовом фоне внизу..?

<ipython-input-47-9bd710599232>:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data1['cast'] = data1.cast.apply(lambda x:x.split('|'))

cast
Chris Hemsworth      2027450773
Denis Leary          1629460639
Anne Hathaway        1522851057
Chris Evans          1519557910
Robert Downey Jr.    1519557910
                        ...
Jason Bateman           3428048
Danny Huston            2106557
Sami Gayle              2106557
Josh Lucas              2106557
Nicolas Cage            2106557
Name: revenue, Length: 466, dtype: int64

In [48]:
# если упростить задачу, найдя актеров самого кассового фильма. Естественно, без учета что актеры могли сняться в нескольких кассовых фильмах
data = pd.read_csv('movie_bd_v5.csv')
data[data.revenue == data[data.release_year == 2012].revenue.max()].cast.iloc[0]

'Robert Downey Jr.|Chris Evans|Mark Ruffalo|Chris Hemsworth|Scarlett Johansson'

# 16. Какой актер снялся в большем количестве высокобюджетных фильмов?

In [49]:
import pandas as pd
data = pd.read_csv('movie_bd_v5.csv')
data1 = data[data.budget > data.budget.mean()]
data1['cast'] = data1.cast.apply(lambda x:x.split('|'))
data2 = data1.explode('cast')
data2.groupby('cast').original_title.count().sort_values(ascending=False)

<ipython-input-49-65a350a2cc5e>:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data1['cast'] = data1.cast.apply(lambda x:x.split('|'))

cast
Matt Damon           18
Adam Sandler         17
Angelina Jolie       16
Eddie Murphy         15
Samuel L. Jackson    15
                     ..
Leslie Bibb           1
Leonard Nimoy         1
Lennie James          1
Lena Olin             1
50 Cent               1
Name: original_title, Length: 1505, dtype: int64

# 17. В фильмах какого жанра больше всего снимался Nicolas Cage?

In [50]:
import pandas as pd
data = pd.read_csv('movie_bd_v5.csv')
data['genres'] = data.genres.apply(lambda x:x.split('|'))
data0 = data.explode('genres')
data0['cast'] = data0.cast.apply(lambda x:x.split('|'))
data1 = data0.explode('cast')
data_new = data1[data1.cast == 'Nicolas Cage']
data_new.genres.value_counts().sort_values(ascending=False).iloc[:1]

Action    17
Name: genres, dtype: int64

# 18. Самый убыточный фильм от Paramount Pictures

In [51]:
import pandas as pd
data = pd.read_csv('movie_bd_v5.csv')
data['profit'] = data['revenue'] - data['budget']
data['production_companies'] = data.production_companies.apply(lambda x:x.split('|'))
data0 = data.explode('production_companies')
data1 = data0[data0.production_companies == 'Paramount Pictures']
data1.groupby('original_title').profit.min().sort_values(ascending=True)

original_title
K-19: The Widowmaker                                  -64831034
Timeline                                              -60519261
Next                                                  -51788987
Alfie                                                 -46604061
Twisted                                               -24805000
                                                        ...
Mission: Impossible - Ghost Protocol                  549713380
Transformers                                          559709780
Indiana Jones and the Kingdom of the Crystal Skull    601636033
Transformers: Revenge of the Fallen                   686297228
Transformers: Dark of the Moon                        928746996
Name: profit, Length: 122, dtype: int64

# 19. Какой год стал самым успешным по суммарным кассовым сборам?

In [52]:
import pandas as pd
data = pd.read_csv('movie_bd_v5.csv')
data.groupby('release_year').revenue.sum().sort_values(ascending=False)

release_year
2015    25449202382
2014    23405862953
2013    23213799791
2012    23079001687
2011    22676791872
2010    21071204961
2009    20261791024
2008    18252781990
2007    18162406801
2004    15663430720
2005    15309425558
2006    14775042320
2003    14346123312
2002    14136361487
2001    13017764865
2000    10664099805
Name: revenue, dtype: int64

# 20. Какой самый прибыльный год для студии Warner Bros?

In [77]:
import pandas as pd
data = pd.read_csv('movie_bd_v5.csv')
data['profit'] = data['revenue'] - data['budget']
data['production_companies'] = data.production_companies.apply(lambda x:x.split('|'))
data_explode = data.explode('production_companies')
data_filtered = data_explode[data_explode['production_companies'].str.contains('Warner Bros')].copy()
data_filtered.groupby('release_year').revenue.sum().sort_values(ascending=False)

release_year
2014    3246549646
2007    3183675217
2008    3050595031
2010    3008712985
2011    2845393682
2003    2814008221
2009    2737954136
2004    2731933725
2013    2599953400
2005    2412980298
2001    2280142579
2012    1869520056
2002    1702709901
2015    1691168351
2006    1576351872
2000    1025531386
Name: revenue, dtype: int64

# 21. В каком месяце за все годы суммарно вышло больше всего фильмов?

In [84]:
import pandas as pd
import re
data = pd.read_csv('movie_bd_v5.csv')
data['month'] = data.release_date.apply(lambda x: x[0])
data.month.value_counts().sort_values(ascending=False)

1    632
9    227
8    161
3    156
4    149
6    147
7    142
5    140
2    135
Name: month, dtype: int64

# 22. Сколько суммарно вышло фильмов летом? (за июнь, июль, август)

In [126]:
import pandas as pd
data = pd.read_csv('movie_bd_v5.csv')
data['month'] = data.release_date.apply(lambda x:x[0])
len(data.loc[data['month'].isin(['6','7','8'])])

450

# 23. Для какого режиссера зима – самое продуктивное время года?

In [3]:
import pandas as pd
data = pd.read_csv('movie_bd_v5.csv')
data['month'] = data.release_date.apply(lambda x:x.split('/')[0])
data['director'] = data.director.apply(lambda x:x.split('|'))
data_new = data.explode('director')
data_new[data_new.month.isin(['12','1','2'])].director.value_counts()

Peter Jackson                7
Steven Soderbergh            6
Clint Eastwood               6
Nancy Meyers                 4
Martin Scorsese              4
                            ..
Geoffrey Sax                 1
Christian E. Christiansen    1
Tamra Davis                  1
Kathryn Bigelow              1
Frank Miller                 1
Name: director, Length: 358, dtype: int64

# 24. Какая студия дает самые длинные названия своим фильмам по количеству символов?

In [174]:
import pandas as pd
data = pd.read_csv('movie_bd_v5.csv')
data['production_companies'] = data.production_companies.apply(lambda x:x.split('|'))
data_new = data.explode('production_companies')
data_new['title_length'] = data_new.original_title.apply(lambda x:len(x))
data_new.groupby('production_companies').title_length.mean().sort_values(ascending=False)

production_companies
Four By Two Productions       83.0
Jim Henson Company, The       59.0
Dos Corazones                 47.0
Museum Canada Productions     46.0
Polsky Films                  46.0
                              ...
Everest Entertainment          3.0
Berlanti Productions           3.0
XM2 Productions                2.0
Ixtlan Productions             2.0
Global Entertainment Group     2.0
Name: title_length, Length: 1771, dtype: float64

# 25. Описание фильмов какой студии в среднем самые длинные по количеству слов?

In [152]:
import pandas as pd
data = pd.read_csv('movie_bd_v5.csv')
data['production_companies'] = data.production_companies.apply(lambda x:x.split('|'))
data_new = data.explode('production_companies')        
data_new['overview_count'] = data.overview.apply(lambda x: len(x.split(' ')))
data_new.groupby('production_companies').overview_count.mean().sort_values(ascending=False)

production_companies
Midnight Picture Show                    175.0
Room 9 Entertainment                     161.0
Heineken Branded Entertainment           161.0
98 MPH Productions                       159.0
Brookwell-McNamara Entertainment         156.0
                                         ...
London Boulevard                          13.0
Phantom Four                              13.0
Henceforth                                13.0
Empire Pictures                           11.0
Motion Picture Corporation of America     11.0
Name: overview_count, Length: 1771, dtype: float64

# 26. Какие фильмы входят в 1 процент лучших по рейтингу? 
по vote_average

In [165]:
import pandas as pd
data = pd.read_csv('movie_bd_v5.csv')
data.loc[data['vote_average']>data.quantile(0.99, numeric_only=True)['vote_average']]['original_title']

9                                          Inside Out
34                                               Room
118                                      Interstellar
119                           Guardians of the Galaxy
125                                The Imitation Game
128                                         Gone Girl
138                          The Grand Budapest Hotel
370                                         Inception
599                                   The Dark Knight
872                                       The Pianist
1081    The Lord of the Rings: The Return of the King
1183                          The Wolf of Wall Street
1191                                 12 Years a Slave
1800                                          Memento
Name: original_title, dtype: object

# 27. Какие актеры чаще всего снимаются в одном фильме вместе?

In [170]:
import pandas as pd
import collections
data = pd.read_csv('movie_bd_v5.csv')
data['cast'] = data['cast'].apply(lambda x:x.split('|'))
from itertools import combinations
data['pairs'] = data['cast'].apply(lambda s: list(combinations(s, 2)))
data = data.explode('pairs')
collections.Counter(data['pairs']).most_common(1)

[(('Daniel Radcliffe', 'Rupert Grint'), 8)]

ВАРИАНТ 2

# Submission

In [10]:
# в конце можно посмотреть свои ответы к каждому вопросу
print(answers)

{'1': 'Pirates of the Caribbean: On Stranger Tides (tt1298650)', '2': 'Gods and Generals (tt0279111)', '3': 'Winnie the Pooh (tt1449283)', '4': '110', '5': '107', '6': 'Avatar (tt0499549)', '7': 'The Lone Ranger (tt1210819)', '8': '1478', '9': 'The Dark Knight (tt0468569)', '10': 'The Lone Ranger (tt1210819)', '11': 'Drama', '12': 'Drama', '13': 'Peter Jackson', '14': 'Robert Rodriguez', '15': 'Chris Hemsworth', '16': 'Matt Damon', '17': 'Action', '18': 'K-19: The Widowmaker (tt0267626)', '19': '2005', '20': '2014', '21': 'Сентябрь', '22': '450', '23': 'Peter Jackson', '24': 'Four By Two Productions', '25': 'Midnight Picture Show', '26': 'Inside Out, The Dark Knight, 12 Years a Slave', '27': 'Daniel Radcliffe & Rupert Grint'}

In [11]:
# и убедиться что ни чего не пропустил)
len(answers)

27